<mat-drawer-container class="example-container" autosize>

  <!-- Sidebar content-->
  <mat-drawer 
  [opened]="!isMobile()" 
  #drawer 
  class="example-sidenav" 
  [mode]="isMobile() ? 'over' : 'side'"
  >
    <p>Menu</p>
    
    @if (showFiller) {
      <mat-nav-list>
          <li appFontSize="20px">
            <a routerLink="homeDashboard" mat-list-item>Inicio</a>
          </li>
          <li appFontSize="20px">
            <a *ngIf="(authUser$ | async)?.role === 'admin'"
             routerLink="users" mat-list-item>Lista de alumnos</a>
          </li>
          <li appFontSize="20px">
            <a routerLink="careers" mat-list-item>Carreras</a>
          </li>
          <li appFontSize="20px">
            <a routerLink="products" mat-list-item>Cursos</a>
          </li>
      </mat-nav-list>

    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Paginas
    </button>
  </mat-drawer>
  <!-- Sidebar content-->

  <!-- Contenido de la derecha del sidebar -->
  <div class="example-sidenav-content">

      <!-- Toolbar superior -->
      <mat-toolbar color="primary" >
        <div class="d-flex justify-content-between align-items-center w-100">
          <div>
            <button 
              mat-icon-button class="example-icon" 
              aria-label="Example icon-button with menu icon"
              (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
                  <span appFontSize="20px">Inicio</span>
                  <span class="example-spacer"></span>
          </div>
          <a mat-button (click)="logout()">Cerrar sesion</a>
        </div>
        
        </mat-toolbar>
        <!-- Toolbar superior -->

        <div class="app-user">

          <router-outlet></router-outlet>

        </div>

  </div>

  <!-- Contenido de la derecha del sidebar -->

</mat-drawer-container>