<mat-drawer-container class="example-container" autosize>

  <!-- Sidebar content-->
  <mat-drawer 
  [opened]="!isMobile()" 
  #drawer 
  class="example-sidenav" 
  [mode]="isMobile() ? 'over' : 'side'"
  >
    <p>Menu</p>
    @if (showFiller) {
      <p appFontSize="20px">Lista de alumnos</p>
      <p appFontSize="20px">Carreras</p>
      <p appFontSize="20px">Cursos</p>
      <p appFontSize="20px">Productos</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Paginas
    </button>
  </mat-drawer>
  <!-- Sidebar content-->

  <!-- Contenido de la derecha del sidebar -->
  <div class="example-sidenav-content">

      <!-- Toolbar superior -->
      <mat-toolbar color="primary" >
          <button 
          mat-icon-button class="example-icon" 
          aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
              </button>
              <span appFontSize="20px">Inicio</span>
              <span class="example-spacer"></span>
              <button 
              mat-icon-button class="example-icon favorite-icon" 
              aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
              </button>
              <button 
              mat-icon-button class="example-icon" 
              aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
        <!-- Toolbar superior -->

        <div class="app-user">
          <app-users></app-users>
        </div>

  </div>

  <!-- Contenido de la derecha del sidebar -->

</mat-drawer-container>